NEXT_PUBLIC_SUPABASE_URL=https://ndomcfohwnvbyufnrxek.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pQMEBIrPxYJAjHF0wtJGqw__s8czcSF
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_FROM_DASHBOARD
